/* Mode color palettes */
html.light {
  /* light mode */
  --background: #fef7ff;
  --primary: #6750a4;
  --prim-container: #eaddff;
  --secondary: #ffccaa;
}
html.dark {
  /* dark mode */
  --background: #141218;
  --primary: #d0bcfe;
  --prim-container: #4f378b;
  --secondary: #f58c71;
}

body {
  color: var(--primary);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Deca";
  min-width: 1350px;
}

div {
  border: var(--prim-container) 1pt solid;
  padding: 5px;
}

.section {
  height: 100%;
  width: 95%;
  background-color: var(--background);
  border: #ccf 1pt solid;
  padding: 50px 10px;
}

.sect-title {
  font-family: "Sen";
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 25px;
  align-self: start;
}

#top {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

#top > span {
  font-size: 6rem;
}

#top > #logo {
  z-index: 1;
}

#top > #logo-bg {
  position: absolute;
  color: var(--secondary);
}

#top > #app-name {
  display: flex;
  align-items: center;
  font-family: "Gravitas One";
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.75rem;
  padding-left: 25px;
}

#top > #search {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top > * > #search-bar {
  width: 90%;
  height: 55px;
  background-color: var(--prim-container);
  color: var(--primary);
  border: var(--primary) 2pt solid;
  border-radius: 75px;
  padding-left: 25px;
  font-family: "Lexend Mega";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
}

#top > * > #search-icon {
  transform: translate(-45px, 0);
  font-size: 1.75rem;
}

#top > #mode-icon {
  font-size: 5rem;
  align-self: center;
  cursor: pointer;
}

#city {
  display: flex;
  flex-direction: column;
}

#city > #fr-name {
  font-family: "Lexend Peta";
  font-size: 3rem;
  font-weight: 550;
}
#city > #location {
  font-family: "Lexend Exa";
  font-size: 1.6rem;
  font-weight: 400;
}
#city > #coords {
  font-family: "Lexend Deca";
  font-size: 1.25rem;
  font-weight: 250;
}

#time {
  display: flex;
  flex-direction: row;
}

#time > #time-container {
  width: 25%;
}

#time-container > #local-time {
  font-family: "Lexend Exa";
  font-size: 1.75rem;
  font-weight: 300;
  margin-top: 25px;
}

#time > #day-cycle {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#day-cycle > #cycle-svg {
}

#cycle-path {
  fill: none;
  stroke: #343c6d;
  stroke-width: 72.7604;
  stroke-linecap: square;
  stroke-linejoin: round;
}

/*
Moon Phases:
Dark Moon, Waxing Crescent, 1st Quarter, Waxing Gibbous, Full Moon, Waning Gibbous, 3rd Quarter, Waning Crescent
*/
#cycle-body {
  stroke: #b0beff;
  stroke-width: 39.6875;
  fill: #6474d3;
}

#day-cycle > #cycle-text {
  width: 320px;
  font-family: "Lexend Exa";
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#cycle-text > .cycle-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.cycle-text > .cycle-text-icon {
  font-size: 2rem;
}

#weather {
}

#wea-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 150px;
}

#wea-container > #wea-general {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#wea-general > #wea-icon {
  font-size: 8rem;
  background-color: var(--prim-container);
  padding: 10px;
  border: var(--primary) 3pt solid;
  border-radius: 15px;
}

#wea-general > #wea-details {
  margin-left: 10px;
  font-family: "Lexend Exa";
}

#wea-details > #wea-desc {
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: -0.2rem;
}

#wea-details > #wea-temp {
  font-weight: 450;
  font-size: 1.75rem;
}

#wea-details > #wea-minmax_temp {
  font-weight: 300;
  font-size: 1.25rem;
}

#wea-percents > .perc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perc-container > .perc-icon {
  font-size: 4rem;
}

.perc-container > .perc-text {
  width: 100px;
  text-align: right;
  font-family: "Lexend Exa";
  font-size: 2rem;
}

#wea-container > #wea-wind {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#wea-wind > #wind-icon-container {
  width: 80px;
  aspect-ratio: 1/1;
  background-color: var(--prim-container);
  padding: 15px;
  border: var(--primary) 3pt solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wind-icon-container > #wind-icon {
  font-size: 4rem;
  transform: rotate(230deg);
}

#wea-wind > #wind-details {
  margin-left: 10px;
  font-family: "Lexend Exa";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

#wind-details > #wind-dir {
  font-weight: 500;
  font-size: 1.5rem;
}

#wind-details > #wind-speed {
  font-weight: 450;
  font-size: 1.5rem;
}

#forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#forecast > #fc-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 500px;
  background-color: var(--prim-container);
  border: var(--primary) 3pt solid;
  border-radius: 20px;
}

#fc-hours > .fc-line {
  width: 0;
  padding: 0;
  height: 95%;
  border: var(--primary) 2pt solid;
  border-radius: 100px;
}

#fc-hours > .fc-box {
  width: 100%;
  height: 90%;
  font-family: "Lexend Exa";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fc-box > .fc-time {
  font-family: "Lexend Peta";
  font-size: 1.5rem;
  font-weight: 500;
}

.fc-box > .fc-wea {
  font-size: 7.5rem;
}

.fc-box > .fc-temp {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.fc-icon {
  font-size: 2.5rem;
}

.fc-text {
  font-size: 1.5rem;
  width: 75px;
  text-align: right;
}

.fc-box > .fc-pop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fc-box > .fc-rain-mm {
  font-size: 1.5rem;
}

.fc-box > .fc-cld {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#forecast > #fc-days {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: 1000px;
  background-color: var(--prim-container);
  border: var(--primary) 3pt solid;
  border-radius: 20px;
}

#fc-days > .fc-line {
  width: 0;
  padding: 0;
  height: 95%;
  border: var(--primary) 2pt solid;
  border-radius: 100px;
}

#fc-days > .fc-box {
  width: 100%;
  height: 90%;
  font-family: "Lexend Exa";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#fc-days > .fc-box:first-child > .fc-time {
  font-weight: 800;
}
